<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="HotelModelEntities" connectionString="metadata=res://*/AppData.HotelReservationModel.csdl|res://*/AppData.HotelReservationModel.ssdl|res://*/AppData.HotelReservationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-64BENGS\SQLEXPRESS;initial catalog=HotelModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HotelReservationDBEntities" connectionString="metadata=res://*/AppData.HotelReserveDB.csdl|res://*/AppData.HotelReserveDB.ssdl|res://*/AppData.HotelReserveDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-64BENGS\SQLEXPRESS;initial catalog=HotelReservationDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Hotel_ReservationEntities" connectionString="metadata=res://*/AppData.Model1.csdl|res://*/AppData.Model1.ssdl|res://*/AppData.Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-64BENGS\SQLEXPRESS;initial catalog=&quot;Hotel Reservation&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>